main{
  width: 100%;
  height: 100vh;
  float: left;
  background: #ccc;
}
section{
  width: 100%;
  height: 70vh;
  background: #9bfffd;
}
section img{
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 20vh;
}
footer{
  width: 100%;
  height: 30vh;
  background: #ffa4fc;
}
footer small{
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 4vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
#social{
  width: 90%;
  height: 15vh;
  float: left;
  margin-left: 5%;
  margin-top: 2vh;
  background: red;
}
.rs{
  width: 25%;
  height: auto;
  aspect-ratio: 1/1;
  float: left;
  background: #fff;
  margin-left: 6.6%;
  margin-top: 2vh;
  border-radius: 200px;
}